.about-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main-block{
    height: 80vh;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    position: relative;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 10vh;
    overflow: hidden;
}

.main-block-background{
    position: absolute;
    width: 120%;
    height: 110%;
    object-fit: cover;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; 
}

.main-block-filter{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.075) 20%, rgba(148, 185, 198, 0.555) 50%,rgb(148, 185, 198) 95%);
    position: absolute;
    inset: 0;
    background-size: contain;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; 
}

@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}

.main-block-arrow{
    position: absolute;
    bottom: 30px;
    left: 45%;
    width: 120px;
    height: 80px;
    animation: bounce 1.5s ease-in-out 0s infinite both;
    cursor: pointer;
    border-radius: 40px;

}

.main-block-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    right: 5%;
    bottom: 8%;
}

.block-title{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
    width: 40%;

}

.sub-block-title{
    width: 70%;
}

.main-block-intro{
    font-weight: 400;
    font-size: 26px;
    width: 50%;
}

.second-block{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.second-block-image{
    margin-left: 5vw;
    width: 40%;
    object-fit: contain
}

.second-block-text{
    text-align: right;
    margin-right: 10vw;
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.second-block-intro{
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 30px;
}

.about-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(75, 160, 251);
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 10px;
    border: 4px solid rgb(75, 160, 251);
    width: 130px;
    font-size: 20px;
    transition: color 0.5s, background-color 0.5s;
}

.about-link-text{
    margin-right: auto;
    margin-left: auto;
}

.about-link:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(75, 160, 251);
}

.about-link-icon{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    fill: white;
    transition: fill 0.5s;
}

.about-link:hover .about-link-icon{
    fill: rgb(75, 160, 251);
}

.third-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.third-block-image{
    margin-right: 10vw;
    width: 50vh;
    object-fit: contain;
}


.third-block-text{
    text-align: left;
    margin-right: 10vw;
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

